section{
    padding: 5rem 10rem;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $cor-vermelho;
}

.home::before{
    z-index: 777;
    content:'';
    position:absolute;
    background: rgba(0, 0, 0, 0.333);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}

.home .content{
    z-index: 888;
    width: 70%;
    margin-top: 3rem 0;
    display: none;
}
.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
}

.home .content span{
    font-weight: 300;
    font-size: 2rem;
}

.home .content p{
    margin-bottom: 4rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height:1.6rem;
}

.home .content a{
    background: $cor-branca;
    padding: 0.8rem 1.5rem;
    color: #232323;
    font-size: 1.2rem;
    font-weight: 500;
    border: solid 0.1rem $cor-branca;
    border-radius: 0.1rem;
    transition: 0.5s ;
}
.home .content a:hover{
    background: #ffffff00;
    color: $cor-branca;
    border: solid 0.1rem $cor-vermelho;
    border-radius: 0.1rem;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5rem);
    margin-bottom: 1rem;
}
.slider-navigation .nav-btn{
    width: 0.8rem;
    height: 0.8rem;
    background: $cor-branca;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0.5rem $cor-branca;
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: $cor-vermelho;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 2.2rem;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.4);
}

.app__card-list {
    z-index: 888;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding-top: 2.2rem;
}
.app__card-list-label {
    color: $cor-branca;
    font-family: $fonte-primaria;
    font-size: 1.1rem;
    font-weight: 600;
}
/* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: $cor-branca;
    border-radius: 1.6rem;
    width: 4rem;
    height: 1.7rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    box-shadow: #373131 0rem 0rem 0.3rem 0.1rem;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #2c2c2c 0%, #101010 100%);
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 0.2rem;
    left: 0.4rem;
    transition: left 0.22s;
}

.toggle-checkbox:checked + .toggle-switch {
    background: $cor-vermelho;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 2.3rem;
    background: $cor-vermelho;
    background: linear-gradient(to bottom, #e8e8e8 0%, #ffffff 100%);
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}



@media (max-width: 1260px){
    section{
        padding: 5rem 5rem;
    }
}
@media (max-width: 1040px){
    section{
        padding: 5rem 3rem;
    }
}
@media (max-width: 740px){
    section{
        padding: 5rem 0.8rem;
    }
}